ul.hello {
    margin: 0px;
    padding-left: 50px;
    padding-right:50px;
    border: none;
    list-style-type:none
}

/* Style the list items */
ul li.hi {

    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 21px;
    color: black;
    transition: 0.2s;
    border-radius: 5px;
    padding-left:100px;
    padding-right: 100px;

    font-family: 'Verdana';


    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

/* Set odd list items to a different color */
ul li:nth-child(odd).me {
    background: #ABABAB;
}

/* Darker background-color on hover */
ul li.hi:hover {
    background: #CFCFCF;
}

/* When clicked on, add a background color and strike out text */
ul li.hi.checked {
    background: #5B8257;
    color: #fff;

}


/* Add a "checked" mark when clicked on */
ul li.hi.checked::before {
    content: '';
    position: absolute;
    border-color: #fff;
    border-style: solid;
    border-width: 0 2px 2px 0;
    top: 10px;
    left: 16px;
    transform: rotate(45deg);
    height: 15px;
    width: 7px;
}

/* Style the close button */
.close {
    position: absolute;
    right: 0;
    top: 0;
    padding: 12px 16px 12px 16px
}

.close:hover {
    background-color: #586875;
    color: white;
    border-radius: 10px;
}





.policyButton {
    background-color: #222222; /* Green */
    border: 10px;
    color: white;

    padding: 12px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;

}
.policyDescription{
    color: black;
    padding-left:200px;
    padding-right: 200px;
    padding-top: 30px;
    font-family: "Times New Roman", Times, serif;
}

p.a {
    font-family: "Times New Roman", Times, serif;
}

@import url("http://netdna.bootstrapcdn.com/bootstrap/3.0.0-wip/css/bootstrap.min.css");

div.ip {
    padding: 12px 8px 12px 40px;
    font-size: 21px;
    color: black;
    transition: 0.2s;
    border-radius: 0px;
    padding-left: 100px;
    padding-right: 100px;
    font-family: "Verdana", Times, serif;
}

.instructions {
    text-align: center;
    border-radius: 5px;
    margin-top: 50px;
    margin-left: 50px;
    margin-right: 50px;
    box-shadow: 0 0 30px black;
    padding: 0 15px 0 15px;
}